/* sets the background color of the page */
body {
    background-color: #d9dcd6;
}
/* sets the style of the boxes and provides space around them */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* coloring and spacing of the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* display type and font size of the header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changes the color of specific letters in the header  */
.header h1 .seo {
    color: #d9dcd6;
}
/* placement and styling of links of the right side of header  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* shows the list items as ordered in the html  */
.header div ul {
    list-style-type: none;
}
/* how the links are displayed and spacing between them  */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* text color of links and decoration  */
a {
    color: #ffffff;
    text-decoration: none;
}
/* size, placement, and styling of the image under the header  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets box size, style, and margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* size of headings in main boxes  */
.search-engine-optimization,.online-reputation-management,.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 250%;
}
/* font size of text in main boxes  */
p {
    font-size: 16px;
    margin-top: 10px;
}
/* layout and stylings of main boxes  */
.search-engine-optimization,.online-reputation-management,.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* size of images in main boxes  */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* postioning and margins of left floating pictures  */
.float-left {
    float: left;
    margin-right: 25px;
}
/* postioning and margins of right floating pictures  */
.float-right {
    float: right;
    margin-left: 25px;
}
/* sizing, placement, and styling of rightside box  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* color and margins for right hand box text  */
.benefit-lead,.benefit-brand,.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* alignment and margin for righthand box headings  */
.benefit-lead,.benefit-brand,.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* sizing and margins of righthand box images  */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 
/* styling and layout of footer  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* size of the heading in the footer  */
.footer h2 {
    font-size: 20px;
}
